<div class="row">
                                    <div class="table-responsive" data-ng-if="gridOptions.totalItems>0">

                                        <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                            <thead>
                                                <tr>
                                                    <th data-ng-repeat="col in gridOptions.columns"
                                                    data-ng-class="gridOptions.sortBy==col.field?
                                                                     gridOptions.sortDirection==true?'sorting_desc':'sorting_asc'
                                                                                            :'sorting'"
                                                        data-ng-click="gridOptions.changeSorting(col.field)">{{col.display}}</th>

                                                 
                                                </tr>
                                            </thead>
                                           <!-- <tbody data-ng-repeat="item in gridOptions.data">
                                                <tr>
                                                    <td>{{item.OrderId}}</td>
                                                    <td>{{item.Customer.CustomerName}}</td>
                                                    <td>{{item.Product.ProductName}}</td>
                                                    <td>{{item.Product.Vendor.VendorName}}</td>
                                                    <td>{{item.ProductQuantity}}</td>
                                                    <td>{{item.OrderStatus.OrderStatusName}}</td>
                                                    <td>{{item.OrderPlacedDate | jsonDateFormatter}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-info btn-circle" data-ng-click="edit(item.OrderId)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        &nbsp;&nbsp;
                                                        <button type="button" class="btn btn-danger btn-circle" data-ng-click="delete(item.OrderId)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>-->
                                        </table>
                                    </div>
                                    <div class="table-responsive" data-ng-if="gridOptions.totalItems<=0">
                                        No Records.
                                    </div>
                                </div>