<div class="row">

    <div class="col-sm-12">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
            <ul class="pagination">

                <li class="paginate_button"
                    data-ng-class="(gridOptions.pageNumber-1)>0?  '':'disabled'"
                    data-ng-if="gridOptions.getTotalPages()>5 "
                    data-ng-click="gridOptions.changePageNumber(1)">
                    <a href="#">First
                    </a>
                </li>
                <li class="paginate_button previous"
                    data-ng-class="(gridOptions.pageNumber-1)>0?  '':'disabled'"
                    data-ng-click="gridOptions.previousPage()">
                    <a href="#">Previous</a>
                </li>

                <!--data-ng-repeat="n in [] | range:(gridOptions.pageNumber>3?(gridOptions.pageNumber-2):1):(gridOptions.pageNumber>3?(gridOptions.pageNumber+3>gridOptions.getTotalPages() gridOptions.pageNumber+3):6) "-->
                <li class="paginate_button"
                    data-ng-repeat="n in [] | range:gridOptions.pageNumber:gridOptions.getTotalPages():gridOptions.pageSize"
                    data-ng-class="gridOptions.pageNumber == n? 'active' : ''"
                    data-ng-click="gridOptions.changePageNumber(n)">
                    <a href="#">{{n}}
                    </a>
                </li>


                <li class="paginate_button next"
                    data-ng-class="(gridOptions.pageNumber+1)>gridOptions.getTotalPages()?  'disabled':''"
                    data-ng-click="gridOptions.nextPage()">
                    <a href="#">Next</a></li>

                <li class="paginate_button"
                    data-ng-class="(gridOptions.getTotalPages()-gridOptions.pageNumber)>0?  '':'disabled'"
                    data-ng-if="gridOptions.getTotalPages()>5 "
                    data-ng-click="gridOptions.changePageNumber(gridOptions.getTotalPages())">
                    <a href="#">Last
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
