<div class="row">
    <div class="col-sm-3">
        <div class="dataTables_length">
            <label>
                Show
                    <select class="form-control input-sm"
                        style="display: inline;"
                        data-ng-model="gridOptions.pageSize"
                        data-ng-options="page as page for page in gridOptions.pageOptions"
                        data-ng-change="gridOptions.changePagesize()">
                    </select>
                entries</label>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="dataTables_filter">
            <form data-ng-submit="gridOptions.load()">
                <input type="text" class="form-control input-sm" placeholder="Search" name="Search" data-ng-model="gridOptions.search">
                <button type="submit" class="btn btn-default btn-sm" data-ng-click="gridOptions.load()">Search</button>
            </form>

        </div>
    </div>
</div>
